<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
  <div class="home-container">
    <h1>Welcome {{firstName}}!</h1>
        <h2>Navigate to one of our pages below:</h2>
        <a href="/top_5_yards"><button><h3>Players with Top 5 Yards Per Game</h3></button></a>
        <br><br>
        <a href="/def_efficiency"><button><h3>Defense Efficiency</h3></button></a>
        <br><br>
        <a href="/points_scored"><button><h3>Average Points Scored Per Conference</h3></button></a>
        <br><br>
        <a href="/top_uga"><button><h3>University of Georgia's Top Performers</h3></button></a>
        <br><br>
        <a href="/stadiums"><button><h3>Stadiums</h3></button></a>
        <br><br>
  </div>
</body>
</html>