<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>
<body>
  <div class="registration-container">
        <h2>Register</h2>
        <form action="/submit-your-registration-form" method="post">
            <label for="firstname">First Name:</label><br>
            <input type="text" id="firstname" name="firstname" required><br>

            <label for="lastname">Last Name:</label><br>
            <input type="text" id="lastname" name="lastname" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>

            <label for="confirm-password">Confirm Password:</label><br>
            <input type="password" id="confirm-password" name="confirm-password" required><br>

            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>