<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm-password").value;
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>
</head>
<body>
  <div class="registration-container">
        <h2>Register</h2>
        <form action="/register-user" method="post" onsubmit="return validateForm()">
            <label for="firstname">First Name:</label><br>
            <input type="text" id="firstname" name="firstname" required><br>
            <br/>
            <label for="lastname">Last Name:</label><br>
            <input type="text" id="lastname" name="lastname" required><br>
            <br/>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <br/>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <br/>
            <label for="confirm-password">Confirm Password:</label><br>
            <input type="password" id="confirm-password" name="confirm-password" required><br>
            <br/>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>