<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Remove Stadiums</title>
</head>
<body>
  <div class="stadiums-container">
    <h2>Remove a Stadium</h2>
    <form action="/delete_stadium" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <br/>
            <input type="submit" value="Submit">
        </form>
  </div>
</body>
</html>