<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Top 5 Player Yards</title>
</head>
<body>
  <div class="top-5-container">
    <h2>Passing Yards</h2>
    <table>
    <tr>
        <!-- Table headers -->
        <th>First Name</th>
        <th>Last Name</th>
        <th>School</th>
        <th>Yards</th>
        <!-- more columns as needed -->
    </tr>
    {{#passingYards}}
    <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{school}}</td>
        <td>{{total_passing_yards}}</td>
        <!-- more columns as needed -->
    </tr>
    {{/passingYards}}
    </table>
    <hr/>
    <h2>Receiving Yards</h2>
    <table>
    <tr>
        <!-- Table headers -->
        <th>First Name</th>
        <th>Last Name</th>
        <th>School</th>
        <th>Yards</th>
        <!-- more columns as needed -->
    </tr>
    {{#receivingYards}}
    <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{school}}</td>
        <td>{{total_receiving_yards}}</td>
        <!-- more columns as needed -->
    </tr>
    {{/receivingYards}}
    </table>
    <hr/>
    <h2>Rushing Yards</h2>
    <table>
    <tr>
        <!-- Table headers -->
        <th>First Name</th>
        <th>Last Name</th>
        <th>School</th>
        <th>Yards</th>
        <!-- more columns as needed -->
    </tr>
    {{#rushingYards}}
    <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{school}}</td>
        <td>{{total_rushing_yards}}</td>
        <!-- more columns as needed -->
    </tr>
    {{/rushingYards}}
    </table>
  </div>
</body>
</html>